* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    position: relative;
}

.date-time {
    font-style: oblique;
    font-weight: 600;
    margin-right: 10px;
}

#status-form {
    width: max-content;
    min-width: 30em;
    min-height: 5rem;
    border-radius: 1rem;
    border:2.5px solid rgb(0, 0, 0);
    margin-left: 10px;
}

#title {
    font-style: normal;
    font-weight: 600;
    color: rgb(150, 58, 58);
}

.author{
    font-style: oblique;
    font-weight: 600;
    margin-left: 1em;
    margin-top: 0.2em;
}

.scroll-items{
    font-style: normal;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

.status{
    margin-left: 10px;
    width: fit-content;
    min-width: 40rem;
    max-width: 40rem;
}

#logo{
    -ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Safari */
    transform: scale(0.5, 0.5);
}

#curr-crowd{
    background-color: rgb(168, 34, 36);
    border-radius: 10px;
    font-size: large;
    font-weight: 900;
    padding: 7px;
    color:aliceblue;
    border-color: black;
}

#curr-crowd:hover{
    background-color: rgba(255, 255, 255, 0.64);
    color: black;
}
